/* PUT FLUID GRID CODE HERE */
section.main {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    background-color: yellow
}

aside {
    width: 20%;
    margin-right: 15px;
    display: inline-block;
    background-color: blue
}

.main:after {
  content: '';
  display: block;
  clear: both;
}